<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>identifier</key>
	<string>com.github.munki.pkg.disableflash10autoupdate</string>
	<key>install_location</key>
	<string>/</string>
	<key>name</key>
	<string>AdobeFlashConfig.pkg</string>
	<key>postinstall_action</key>
	<string>none</string>
	<key>version</key>
	<string>2.0</string>
</dict>
</plist>
